<div class="w-full max-w-md p-6"> 
    <div class="ui-card p-6 md:p-10">

        <div class="text-center mb-4">
            <h1 class="text-[var(--primary)] font-bold">Acceso</h1>
            <h5>Autenticación de Usuario</h5>
        </div>

        <form action="/login" method="POST" > 
            
            <fieldset class="space-y-6">
                <legend class="sr-only">Datos de acceso</legend>
                
                
                <div class="input-group">
                    <label>Usuario de acceso</label>
                    <input type="text" name="username" required class="input-control">
                </div>
            
                <div class="input-group">
                    <label>Contraseña</label>
                    <input type="password" name="password" required class="input-control">
                </div>
            
            </fieldset>

            <% if @error %>
                <div class="error-message">
                    <%= @error %>
                </div>
            <% end %>

            <button type="submit" class="btn btn-primary w-full mt-8">
                INGRESAR AL SISTEMA
            </button>


        </form>
    </div>
    
    <p class="text-center text-[9px] text-[var(--text-muted)] mt-8 uppercase tracking-[0.4em] opacity-40">
        Nutrigesica • 2026
    </p>
</div>