<div class="mx-auto max-w-6xl">

    <h3 class="mb-4">Nuevo Paciente</h3>

    <div class="ui-card">
    <form action="/pacientes" method="POST" class="space-y-10">
      
      <%= erb :"pacientes/_form" %>
  
      <div class="form-footer">
          <a href="/pacientes" class="btn btn-ghost">
              Cancelar
          </a>
          <button type="submit" class="btn btn-primary">
              Registrar
          </button>
      </div>
  
    </form>
  </div>


</div>